*{
    margin:2px;
    

}

body{
    background-color: #b479626e;
    
}

.Header{
    background-color:#3a251c ;
    color: #f1ecea;
    border-radius: 5px;

}
nav{
    background-color:#b46424 ;
    padding: 5px;
    margin:3px;
    border-radius: 5px;
  
}

ul {
    text-align: center;
}
li{
    display: inline;
    padding:5px 30px;
    margin: 1px;
}

nav ul li a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:  none;
    list-style: none;
    justify-content: space-around;
}

.section{
    padding: 3px;
    background-color: #362f2f;
    color: #f1ecea;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    border-radius: 5px;
}



.img{
    width: 100px;
    height:100px;
    border: 1px solid;
    margin: 5px;
    justify-content: center;
}


aside{
    float:right;
    color: #f1ecea;
    background-color: #d8870e9d;
    padding: 10px;
    margin:7px;
    border-radius: 5px;
}

aside h3{
    font-family:cursive;
}

aside p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.pie{
    background-color:#3a251c ;
    color: #f1ecea;
    text-align: center;
    border-radius: 5px ;
}

footer h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
